@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: Josefin Sans, system-ui, sans-serif;
    }

    *,
    *::before,
    *::after {
    @apply box-border
    }

    * {
    @apply p-0 m-0 text-in
    }

    *{
        font: inherit;
    }

    ul[role='list'],
    ol[role='list'] {
    @apply list-none
    }

    html,
    body {
    @apply h-full
    }

    html {
        font-size: 62.5%;
    }

    html:focus-within {
    @apply scroll-smooth
    }

    body {
        text-rendering: optimizeSpeed;
        line-height: 1.5;
    }

    a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    img,
    picture,
    svg {
    @apply max-w-full block
    }

    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }

    body {
    @apply grid place-content-center justify-center items-center text-center
    }

    main,
    section {
    @apply h-full w-full
    }

    section {
    @apply grid place-content-center
    }
}

@layer components {
    .attribution {
    @apply text-xs text-center
    }

    .attribution a{
    @apply text-red-300
    }
}