@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: Josefin Sans, system-ui, sans-serif;
    }

    *,
    *::before,
    *::after {
    @apply box-border
    }

    * {
    @apply p-0 m-0
    }

    *{
        font: inherit;
    }

    ul[role='list'],
    ol[role='list'] {
    @apply list-none
    }

    html,
    body {
    @apply h-full
    }

    html {
        font-size: 62.5%;
    }

    html:focus-within {
    @apply scroll-smooth
    }

    body {
        text-rendering: optimizeSpeed;
        line-height: 1.5;
    }

    a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    img,
    picture,
    svg {
    @apply max-w-full block
    }

    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
}

@layer components {
    .attribution {
    @apply text-xs text-center absolute bottom-0 xl:left-[42%] left-[22%] mb-4
    }

    .attribution a{
    @apply text-red-300 transition-all duration-200 ease-linear
    }

    .attribution a:hover{
    @apply  p-2 bg-red-200 rounded-full
    }
    .bg-btn{
        background: linear-gradient(135deg, theme(colors.red.200) 0%, theme(colors.red.300) 100%);
    }
    .bg-btn::before{
        content: '';
        background-image: url(../public/icon-arrow.svg);
    }
}