@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: Josefin Sans, system-ui, sans-serif;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        padding: 0;
        margin: 0;
        font: inherit;
    }

    ul[role='list'],
    ol[role='list'] {
        list-style: none;
    }

    html,
    body {
        height: 100%;
    }

    html {
        font-size: 62.5%;
    }

    html:focus-within {
        scroll-behavior: smooth;
    }

    body {
        text-rendering: optimizeSpeed;
        line-height: 1.5;
    }

    a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    img,
    picture,
    svg {
        max-width: 100%;
        display: block;
    }

    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }

    body {
        font-family: 'Kumbh Sans', sans-serif;
        font-size: var(--fs-100);
        display: grid;
        place-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main,
    section {
        height: 100%;
        width: 100%;
    }

    section {
        display: grid;
        place-content: center;
    }
}